body{
    color: #e2e2e2;
    background-color: #024110;
    font-family: HelvLight, Arial, sans-serif;
    font-size: 18px;
}

h1{
    font-size: 40px;
    text-align: center;
}

h1,h2{
    font-weight: bold;
    text-decoration: underline;
}

/* Collapsible button */
.collapseBox {
    color: #eee;
    background-color: #296951;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

/* Change collapsible header on hover and active states */
.active, .collapseBox:hover {
    background-color: #6eb676;
}

/* Text content of collapsible */
.collapseText {
    background-color: #36833f;
    padding: 20px;
    display: none;
    text-align: left;
}
